.grid_header {
    grid-area: header;
}

.list_menu {
    grid-area: 1_column;
}

.grid_middle_column {
    grid-area: 2_column;
}

.grid_right_column {
    grid-area: 3_column;
}

.grid_form {
    grid-area: row_form;
}

.footer {
    grid-area: footer;
}

@media screen and (min-width: 1400px) {
    .container {
        display: grid;
        grid-column-gap: 15px;
        grid-row-gap: 30px;
        grid-template-columns: 200px 3fr 1fr;
        grid-template-rows: auto auto auto;
        justify-items: center;
        grid-template-areas: 
            "header header header"
            "1_column 2_column 3_column"
            "row_form row_form row_form"
            "footer footer footer";
    }

    .grid_form {
        grid-column: 3 / 4;
    }

    .table_adjust {
        table-layout: fixed;
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        display: grid;
        grid-row-gap: 15px;
        grid-template-columns: auto;
        justify-items: center;
        grid-template-areas: 
            "header"
            "1_column"
            "2_column"
            "3_column"
            "row_form"
            "footer";
    }
}

@media screen and (min-width: 1100px) and (max-width: 1400px) {
    .container {
        display: grid;
        grid-column-gap: 15px; 
        grid-template-columns: auto;
        justify-items: center;
        grid-template-areas: 
            "header header"
            "1_column 1_column"
            "2_column 3_column"
            "row_form row_form"
            "footer footer";
    }

    .list_menu {
        grid-column: 1 / 3;
    }
    .grid_middle_column {
        grid-column: 1 / 2;
    }
    .grid_right_column {
        grid-column: 2 / 3;
    }
    .grid_form {
        grid-column: 2 / 3;
    }
}